body{
    margin: 0;
    color: white;
    background-color: rgb(15, 8, 15);
}

img{
    
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.link:not(:first-child){
    margin-left: 20px;
    
}

a{
    text-decoration: none;
}

.card{
    color: white;
    margin-top: 30px;
    padding: 20px;
    border: px black solid;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 600;
    background-image: linear-gradient(to top, black, purple);
    width: fit-content;
    transition: all .5s ease-in-out;
}


.card:hover{
    -webkit-transform: scale(1.1) ;
    transform: scale(1.1);
    transition-duration: 500ms;
}

.whole{
    margin-top: 140px;
    padding-left: 20px;
    width: fit-content;
    padding-right: 20px;
    display: flex;
}

h1{
    border-bottom: 8px solid black;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    top: 0;
    position: fixed;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 40px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    width: 100%;
    background-image: linear-gradient(to top, rgb(97, 0, 97), rgb(141, 10, 141))
    
}